/* =============================================== */
/* COLORS + FONT SIZES + PADDING SETUP  */
/* =============================================== */
// COLORS
$black_color: #000;
$white_color: #fff;
$black_text: #333;
$white_text: #f5f5f5;
$snow_white_color: #fffafa;
$gray_color: #d6d6d6;
$light_gray_color: #eee;
$dark_gray_color: #b3b3b3;
$light_green_color: #4ad66d;
$green_color: #2dc653;
$dark_green_color: #208b3a;
$light_red_color: #dd2c2f;
$red_color: #d02224;
$dark_red_color: #ac1c1e;
$yellow_color: #ffda3d;
$light_yellow_color: #ffe94e;
$dark_yellow_color: #fdb833;
$blue_color: #329cf4;
$light_blue_color: #64b5f6;
$dark_blue_color: #1976d2;

// $primary_color: #5fa9d3;
// $primary_light_color: #a0cbe4;
// $primary_lighter_color: #bfdced;
// $primary_dark_color: #3f97ca;
// $primary_darker_color: #3081b0;
// $primary_darkest_color: #185375;

$app_primary_filter_shadow: drop-shadow(0 3px 6px rgba(#000, $alpha: 0.36));

// FONT SIZES + PADDING
$fs_heading_xl: clamp(4rem, 2.6vw + 4rem, 5.6rem);
$fs_heading_lg: clamp(3.2rem, 2vw + 3.2rem, 4.2rem);
$fs_heading_md: clamp(2.8rem, 1.8vw + 2.8rem, 3.6rem);
$fs_heading_sm: clamp(2rem, 1.6vw + 1.8rem, 2.6rem);

$fs_normal_xl: clamp(1.9rem, 1.4vw + 1.8rem, 2.4rem);
$fs_normal_lg: clamp(1.66rem, 1vw + 1.7rem, 1.86rem);
$fs_normal_md: clamp(1.4rem, 0.6vw + 1.6rem, 1.66rem);
$fs_normal_sm: clamp(1.36rem, 0.6vw + 1.3rem, 1.4rem);
$fs_normal_ssm: clamp(1.16rem, 0.3vw + 1.16rem, 1.26rem);
$fs_normal_3sm: clamp(0.76rem, 0.1vw + 0.8rem, 0.86rem);
$fs_normal_4sm: clamp(0.66rem, 0.1vw + 0.7rem, 0.76rem);

$distance_6xl: 36px;
$distance_5xl: 32px;
$distance_4xl: 30px;
$distance_3xl: 24px;
$distance_xxl: 20px;
$distance_xl: 16px;
$distance_lg: 12px;
$distance_md: 8px;
$distance_sm: 6px;
$distance_ssm: 4px;
