.headerNav {
    transition: all 360ms ease-in-out;
    &.showShadow {
        background-color: $snow_white_color;
        box-shadow: 6px 0 24px rgba($color: $dark_gray_color, $alpha: 0.66);
    }
}

.controller {
    @include flexCenter;
    flex-wrap: wrap;
    gap: clamp(16px, 2em, 26px);
}
